<!DOCTYPE HTML>
<html lang="en" xmlns:th="http://www.thymeleaf.org">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/css/bootstrap.min.css"
          integrity="sha384-GJzZqFGwb1QTTN6wy59ffF1BuGJpLSa9DkKMp0DgiMDm4iYMj70gZWKYbI706tWS" crossorigin="anonymous">
    <title>Save Employee</title>
</head>
<body>
<div style="padding-bottom: 15px" class="container">
    <h3>Update User Information</h3>
    <hr>
    <form action="#" id="userForm" th:action="@{/register/processUpdateForm}"
          th:object="${user}" th:method="put">
        <input type="hidden" th:field="*{id}"/>
        First Name:<br>
        <input type="text" th:field="*{firstName}"
               class="form-control mb-4 col-4" placeholder="First name">
        Last Name:<br>
        <input type="text" th:field="*{lastName}"
               class="form-control mb-4 col-4" placeholder="Last name">
        Email:<br>
        <input type="text" th:field="*{email}"
               class="form-control mb-4 col-4" placeholder="Email">
        Introduction:<br>
        <input type="text" th:field="*{introduction}"
               class="form-control mb-4 col-4" placeholder="Introduction">
        Classes:<br>
        <input type="text" th:field="*{classes}"
               class="form-control mb-4 col-4" placeholder="Classes">
        Future Goals:<br>
        <input type="text" th:field="*{goals}"
               class="form-control mb-4 col-4" placeholder="Future Goals">
        Fun Stuff:<br>
        <input type="text" th:field="*{funStuff}"
               class="form-control mb-4 col-4" placeholder="Fun Stuff">
        Other Stuff:<br>
        <input type="text" th:field="*{otherStuff}"
               class="form-control mb-4 col-4" placeholder="Other Stuff">
        Interesting Links:<br>
        <input type="text" th:field="*{links}"
               class="form-control mb-4 col-4" placeholder="Links">
        <button type="submit" class="btn btn-primary">Update Info</button>
    </form>
    <hr>
        <a th:href="@{/(userId=${user.id})}">Back to Home Page</a>
</div>
</body>
</html>
